<div class="row">
    <section class="main col-md-9">
      <article>
      <h2><b>About</b></h2>
      <p>
        I am from Gujarat, India. From childhood, computer was my favourite subject. Then I got more interest doing research in computer field and got knowledge about different softwares.
        I got 90 percent in computer subject and completed my higher secondary education in 2018 with B grade. After that I did part time job in tution classes as teaching assistant for 2 years. In
        this time, I learned all the basic concepts of programming and require languages for programming. Then I decided to persue my further study in computer programming and got admission in Seneca college in sep-2021.
      </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2><b>Coming Soon</b></h2>
      <p>Stay tuned for future updates.</p>
    </aside>
</div>